body {
  text-align: center;
}

footer {
  font-style: oblique;
}

button {
  border: none;
  background: none;
  padding: 10px 15px;
  cursor: pointer;
  outline: none;
  background: #ccc;
  font-size: larger;
}

#board {
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-board {
  display: flex;
  flex-direction: row;
}

.box {
  margin: 1px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 300%;
}

.box-active {
  cursor: pointer;
  background: #ccc;
}

.box-active:hover {
  transition: .5s;
  background: #ffc9c9;
}

.block-box {
  background: #ffc9c9;
}

.winner-box {
  background: #c9ffc9;
  cursor: none;
}

#information {
  font-size: x-large;  
}

#winner {
  display: none;
}

#heart-symbol {
  font-style: normal;
  color: rgb(218, 118, 238);
}
